<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="botao-verde-claro" [routerLink]="['/tabs/tab1']">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>

    <ion-title class="titulo-lista">Shopping List</ion-title>

    <ion-buttons slot="end">
      <ion-button class="botao-verde-claro-azul">
        <ion-icon slot="start" name="share-outline"></ion-icon>
        Share
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of listaCompras">
      <ion-label>{{ item }}</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
