<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="botao-verde-claro" shape="round" [routerLink]="['/tabs/tab1']">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="botao-verde-claro" shape="round" (click)="irParaCarregamento()">
        Next
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Instruction field -->
  <ion-item lines="none" class="campo-instrucao">
    <ion-input
      placeholder="Select the foods you want to use"
      readonly
    ></ion-input>
  </ion-item>

  <!-- Foods list -->
  <ion-list>
    <ion-item *ngFor="let alimento of alimentos">
      <ion-avatar slot="start">
        <img [src]="alimento.imagem" />
      </ion-avatar>
      <ion-label class="alimento-label">
        <div class="nome-alimento">{{ alimento.nome }}</div>
        <div
          *ngIf="estaPertoDeExpirar(alimento.expirationDate)"
          class="alerta-validade"
        >
          <ion-icon name="warning-outline"></ion-icon>
          <span>About to expire soon!</span>
        </div>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="alimento.selecionado"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>
