<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h2>Ambrósio, your invisible chef!</h2>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-grid fixed class="ion-margin-top">

      <!-- Name Field -->
      <ion-row>
        <ion-col>
          <ion-input
            label="Name"
            label-placement="floating"
            fill="outline"
            formControlName="name"
            type="text"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="
              (f['name'].invalid && (f['name'].dirty || f['name'].touched)) ||
              (submitted && f['name'].invalid)
            "
          >
            <small *ngIf="f['name'].errors?.['required']">
              Name is required.
            </small>
            <small *ngIf="f['name'].errors?.['minlength']">
              Name must be at least 2 characters long.
            </small>
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- Email Field -->
      <ion-row>
        <ion-col>
          <ion-input
            label="E-mail"
            label-placement="floating"
            fill="outline"
            formControlName="email"
            type="email"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="
              (f['email'].invalid && (f['email'].dirty || f['email'].touched)) ||
              (submitted && f['email'].invalid)
            "
          >
            <small *ngIf="f['email'].errors?.['required']">
              E-mail is required.
            </small>
            <small *ngIf="f['email'].errors?.['email']">
              Invalid email format.
            </small>
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- Password Field -->
      <ion-row>
        <ion-col style="position: relative;">
          <ion-input
            label="Password"
            label-placement="floating"
            fill="outline"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
          ></ion-input>

          <ion-icon
            [name]="showPassword ? 'eye-off' : 'eye'"
            class="toggle-password-icon"
            (click)="togglePasswordVisibility()"
          ></ion-icon>

          <ion-text
            color="danger"
            *ngIf="(f['password'].invalid && (f['password'].dirty || f['password'].touched)) || (submitted && f['password'].invalid)"
          >
            <small *ngIf="f['password'].errors?.['required']">
              Password is required.
            </small>
            <small *ngIf="f['password'].errors?.['minlength']">
              Password must be at least 6 characters long.
            </small>
          </ion-text>
        </ion-col>
      </ion-row>


      <!-- Register Button -->
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button
            expand="block"
            shape="round"
            type="submit"
            class="ion-margin signup-button"
            [disabled]="registerForm.invalid && submitted"
          >
            Sign Up
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Link to Login -->
      <ion-row>
        <ion-col class="ion-text-center">
          <p>
            Already have an account?
            <a (click)="goToLogin()" class="link">Login</a>
          </p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
