.logo {
  width: 120px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.signup-button {
  --background: #d9f3cf;
  color: black;
}

.toggle-password-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  font-size: 22px;
  z-index: 10;
  cursor: pointer;
}
