.add-header-item {
  border-radius: 16px;
  margin-bottom: 10px;
  --background: #f6f6f6;
  font-weight: bold;
}

.icon-add {
  font-size: 20px;
  margin-right: 6px;
  color: #000;
}

/* NOVO estilo para deixar os produtos maiores */
ion-item {
  --min-height: 70px;
  font-size: 16px;
}

/* Imagem maior */
.alimento-img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}
