<ion-content class="ion-padding">

  <!-- Header of the add button -->
  <ion-item lines="none" class="add-header-item" routerLink="/adicionar-alimento" detail="false">
    <ion-label><strong>Add food</strong></ion-label>
    <ion-icon name="add-outline" slot="end" class="icon-add"></ion-icon>
  </ion-item>

  <!-- Food list -->
  <ion-list lines="full">
    <ion-item
      button
      *ngFor="let alimento of alimentos"
      [routerLink]="['/alimento']"
      [queryParams]="{
        id: alimento.id,
        nome: alimento.nome,
        imagem: alimento.imagem,
        quantidade: alimento.quantidade,
        dataCompra: alimento.dataCompra,
        dataValidade: alimento.dataValidade
      }"
    >
      <img slot="start" [src]="alimento.imagem"  class="alimento-img" />
      <ion-label>{{ alimento.nome }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
