/* Botões com estilo "pílula" */
.botao-pilula {
  --background: #fff;
  --border-color: #ccc;
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 999px;
  --box-shadow: none;

  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px; /* Reduzi para ficar mais perto do cartão */
  height: 45px;
}

/*Swiper*/
.custom-card {
  width: 365px;
  height: 370px;
  border-radius: 20px;
  background-color: #e0f5d5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

ion-card-content {
  padding: 6px 12px 12px 12px; /* diminui o padding-top para subir o texto */
  color: #333;
}

ion-card-content h2, ion-card-content p {
  margin-top: 0;
  margin-bottom: 2px; /* ajusta o espaçamento entre os textos */
}


ion-card img {
  width: 345px;
  height: 270px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px; /* Reduzi para ficar menos afastado */
}
