/* Barra de pesquisa */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 8px 12px;
  border-radius: 30px;
  margin-bottom: 20px;

  ion-input {
    flex: 1;
    padding-left: 8px;
  }

  .icon-left,
  .icon-right {
    font-size: 20px;
  }

  .icon-right {
    margin-left: 8px;
  }
}

/* Botões com estilo "pílula" */
.botao-pilula {
  --background: #fff;
  --border-color: #ccc;
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 999px;
  --box-shadow: none;

  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  height: 45px;
}

/*Swiper*/
.custom-card {
  width: 365px;
  height: 370px;
  border-radius: 20px;
  background-color: #e0f5d5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

ion-card-content {
  padding: 12px;
  color: #333;
}

ion-card img {
  width: 345px;
  height: 270px;
  padding: 20px;
  border-radius: 20px;
}
