<ion-content class="ion-padding">


  <!-- Swiper: will show either the soon-to-expire foods or your placeholders -->
  <swiper-container
    slides-per-view="1"
    space-between="10"
    pagination="true"
    autoplay-delay="2500"
    loop="true"
  >
    <swiper-slide *ngFor="let item of slides">
      <ion-card class="custom-card">
        <img [src]="item.img" alt="Food Image" />
        <ion-card-content>
          <h2><strong>{{ item.title }}</strong></h2>
          <p>{{ item.subtitle }}</p>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <!-- Buttons -->
  <ion-button expand="block" fill="clear" class="botao-pilula" [routerLink]="['/listade-compras']">
    Shopping List
  </ion-button>

  <ion-button expand="block" fill="clear" class="botao-pilula" [routerLink]="['/selecionaralimentos']">
    Recipes with available food
  </ion-button>

</ion-content>
