<ion-content class="ion-padding">

  <!-- User section -->
  <div class="perfil-box">
    <ion-icon name="person-outline" class="perfil-icon"></ion-icon>
    <div class="perfil-info">
      <h3>{{ userName }}</h3>
      <p>{{ userEmail }}</p>
    </div>
  </div>

  <!-- Options list -->
  <ion-list lines="full">
    <ion-item button>
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-item>

    <ion-item button (click)="terminarSessao()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Log Out</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
