:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  --cor-verde-claro: #d9f3cf;
  --cor-vermelho-suave: #f8d7da;
  --cor-texto-vermelho: #721c24;
  --cor-header: #ffffff;
  --cor-borda-clara: #e0e0e0;
}

