ion-toolbar {
  --background: white;
  --color: black;
  display: flex;
  justify-content: space-between;
}

.btn-voltar,
.btn-remover {
  background-color: #d7f4d2;
  color: #4e8d4e;
  border-radius: 20px;
  padding: 0 16px;
  font-weight: 500;
}

.imagem-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

ion-card {
  margin: 20px;
  border-radius: 16px;
  box-shadow: none;
}

ion-label.detalhe {
  margin-top: 12px;
  font-size: 16px;
}

p {
  margin: 4px 0 12px 0;
  color: #333;
}

.alert-personalizado {
  --backdrop-opacity: 0.3;
  --border-radius: 20px;
  --min-width: 80%;
  ion-alert-button {
    justify-content: center;
  }
}

.btn-sim,
.btn-nao {
  background-color: #d4f2db;
  color: #2f6e43;
  border-radius: 20px;
}

