ion-toolbar {
  --background: white;
  --color: black;
  display: flex;
  justify-content: space-between;
}

.botao-voltar,
.botao-remover {
  --background: #d9f3cf !important;
  --background-hover: #d9f3cf !important;
  --background-activated: #d9f3cf !important;
  --background-focused: #d9f3cf !important;

  --color: black;
  font-weight: bold;
  font-size: 16px;

  height: 44px;
  width: 120px;
  padding: 0;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.botao-remover {
  --color: #d00000 !important; // texto vermelho
}

.nome-alimento h2 {
  text-align: center;
  margin-top: 16px;
  font-size: 20px;
}

.imagem-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.dados-alimento {
  padding: 0 20px;

  .dado {
    margin-bottom: 16px;

    label {
      font-weight: bold;
      color: #444;
      display: block;
      margin-bottom: 4px;
    }

    p {
      margin: 0;
      color: #555;
    }
  }
}
