<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="botao-voltar" shape="round" routerLink="/tabs/tab2">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="botao-remover" shape="round" (click)="confirmarRemocao()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Remover
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="nome-alimento">
    <h2>{{ alimento.nome }}</h2>
  </div>

  <div class="imagem-container">
    <img [src]="alimento.imagem" alt="Imagem do alimento" />
  </div>

  <div class="dados-alimento">
    <div class="dado">
      <label>Quantidade</label>
      <p>{{ alimento.quantidade }}</p>
    </div>

    <div class="dado">
      <label>Data de compra</label>
      <p>{{ alimento.dataCompra }}</p>
    </div>

    <div class="dado">
      <label>Data de validade</label>
      <p>{{ alimento.dataValidade }}</p>
    </div>
  </div>

</ion-content>
