<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h2>Ambrósio, your invisible chef!</h2>
  </div>

  <ion-content class="ion-padding">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-grid fixed class="ion-margin-top">

        <!-- Email Field -->
        <ion-row>
          <ion-col>
            <ion-input
              label="Email"
              label-placement="floating"
              fill="outline"
              formControlName="email"
              type="email"
            ></ion-input>
            <ion-text
              color="danger"
              *ngIf="(f['email'].invalid && (f['email'].dirty || f['email'].touched)) || (submitted && f['email'].invalid)"
            >
              <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
              <small *ngIf="f['email'].errors?.['email']">Invalid email format.</small>
            </ion-text>
          </ion-col>
        </ion-row>

        <!-- Password Field -->
        <ion-row>
          <ion-col>
            <ion-input
              label="Password"
              label-placement="floating"
              fill="outline"
              formControlName="password"
              type="password"
            ></ion-input>
            <ion-text
              color="danger"
              *ngIf="(f['password'].invalid && (f['password'].dirty || f['password'].touched)) || (submitted && f['password'].invalid)"
            >
              <small *ngIf="f['password'].errors?.['required']">Password is required.</small>
              <small *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters.</small>
            </ion-text>
          </ion-col>
        </ion-row>

        <!-- Submit Button -->
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button
              expand="block"
              color="success"
              shape="round"
              type="submit"
              [disabled]="loginForm.invalid && submitted"
              class="ion-margin"
            >
              Login
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-col class="ion-text-center">
          <p>
            Don't have an account?
            <a routerLink="/registo" class="link">Register</a>
          </p>
        </ion-col>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>
