<ion-content class="ion-padding">
  <div class="ion-text-center">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <h2>Ambrósio, o seu chef invisível!</h2>
  </div>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <div class="ion-text-center" style="margin-top: 10px;">
    <a routerLink="/registo">Ainda não tem conta? <strong>Registe-se</strong></a>
  </div>

  <ion-button expand="block" color="success" style="margin-top: 20px;" (click)="login()">
    Login
  </ion-button>
</ion-content>
