.logo {
  width: 120px;
  margin-top: 40px;
  margin-bottom: 10px;
}

ion-item.invalid {
  --border-style: solid;
  --border-width: 2px;
  --border-color: var(--ion-color-danger);
}

/* Botão de login com verde personalizado */
.login-button {
  --background: #d9f3cf;
  --background-activated: #c5e8b7;
  --background-hover: #eafaea;
  --color: #000;
  font-weight: bold;
}
