<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn-voltar" routerLink="/tabs/tab2">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="pagina-opcoes">
  <div class="opcoes-container">
    <ion-button expand="block" fill="outline" shape="round" class="opcao-btn" routerLink="/inserir-manualmente">
      Enter manually
      <ion-icon slot="end" name="phone-portrait-outline"></ion-icon>
    </ion-button>

    <ion-button expand="block" fill="outline" shape="round" class="opcao-btn" routerLink="/fazer-scan">
      Scan
      <ion-icon slot="end" name="barcode-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
