<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="botao-verde-claro" shape="round" [routerLink]="['/selecionaralimentos']">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <img src="assets/chef.png" alt="Chef" style="width: 200px; margin: 40px auto 20px;" />
  <p>A analisar os ingredientes dados...</p>
  <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
</ion-content>
