:host {
  ion-toolbar {
    --background: white;
    --color: black;

    .btn-voltar {
      --background: var(--cor-verde-claro) !important;
      --background-hover: #d9f3cf !important;
      --background-activated: #d9f3cf !important;
      --background-focused: #d9f3cf !important;

      --color: black !important;
      --border-radius: 20px !important;

      --padding-start: 12px;
      --padding-end: 12px;
      --padding-top: 0px;
      --padding-bottom: 0px;

      font-weight: bold;
      font-size: 16px;

      height: 44px;
      width: 120px;

      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  ion-content {
    --background: #ffffff;

    .formulario {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      ion-item {
        --background: #ffffff;

        ion-label {
          font-size: 14px;
          color: #333;
        }

        ion-input {
          font-size: 16px;
        }
      }
    }
  }

  .bottom-button-wrapper {
    margin: 40px 16px 24px 16px;
  }

  .save-button {
    --background: #d9f3cf;
    --background-hover: #eafaea;
    --background-activated: #c5e8b7;
    --color: rgb(0, 0, 0);
    --border-radius: 12px;
    font-weight: bold;
  }
}
