<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn-voltar" routerLink="/adicionar-alimento">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" class="formulario">

    <ion-item>
      <ion-label position="stacked">Produto</ion-label>
      <ion-input
        type="text"
        name="produto"
        [(ngModel)]="produto"
        placeholder="Ex: Maçã">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Quantidade</ion-label>
      <ion-input
        type="number"
        name="quantidade"
        [(ngModel)]="quantidade"
        placeholder="Ex: 3">
      </ion-input>
    </ion-item>

    <ion-item>
  <ion-label position="stacked">Data de compra</ion-label>
  <ion-button fill="clear" (click)="abrirCalendarioCompra()" class="btn-calendario">
    <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
  </ion-button>
</ion-item>

<ion-modal [isOpen]="mostrarCalendarioCompra" (didDismiss)="mostrarCalendarioCompra = false">
  <ion-content>
    <ion-datetime
      presentation="date"
      [(ngModel)]="dataCompra"
      name="dataCompra"
      (ionChange)="mostrarCalendarioCompra = false">
    </ion-datetime>
  </ion-content>
</ion-modal>

<ion-item>
  <ion-label position="stacked">Data de validade</ion-label>
  <ion-button fill="clear" (click)="abrirCalendarioValidade()" class="btn-calendario">
    <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
  </ion-button>
</ion-item>

<ion-modal [isOpen]="mostrarCalendarioValidade" (didDismiss)="mostrarCalendarioValidade = false">
  <ion-content>
    <ion-datetime
      presentation="date"
      [(ngModel)]="dataValidade"
      name="dataValidade"
      (ionChange)="mostrarCalendarioValidade = false">
    </ion-datetime>
  </ion-content>
</ion-modal>


  </form>
</ion-content>
