.chef-img {
  width: 120px;
  margin-top: 100px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.descricao {
  text-align: center;
  margin: 10px 16px 24px 16px;
  font-size: 16px;
  line-height: 1.4;
}

ion-list {
  margin: 0 16px;
  font-size: 15px;

  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: transparent;

    ion-icon {
      font-size: 20px;
      margin-right: 12px;
    }

    ion-label {
      font-size: 15px;
    }
  }
}

.continue-button {
  margin: 32px 16px;
  --background: #d9f3cf;
  --color: black;
  --border-radius: 12px;
  font-weight: bold;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
