<ion-header>
  <ion-toolbar>
    <ion-title>Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="search-bar-row" align-items-center>
      <ion-col size="10">
        <ion-searchbar placeholder="Adicionar alimento"></ion-searchbar>
      </ion-col>
      <ion-col size="2" class="botao-add-col">
        <ion-button fill="clear" size="small" class="botao-add" routerLink="/adicionar-alimento">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let alimento of listaAlimentos">
      <ion-avatar slot="start">
        <img [src]="alimento.imagem" alt="{{ alimento.nome }}">
      </ion-avatar>
      <ion-label>{{ alimento.nome }}</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
